jupyter
pandas
matplotlib
openpyxl
scikit-learn
seaborn
statsmodels
xgboost
hmmlearn
ruptures
#requests
#Groq
#langchain
#langchain_core
#langchain_groq
#groq
#openai
#requests
#python-dotenv  # If you are using environment variables from a .env file
#langchain-community
#chromadb
#tiktoken
#sentence-transformers
